.c-preview {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &-active {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
    }

    &__modal {
        position: absolute;
        width: 250px;
        height: 250px;
        color: white;
        background-color: black;

        padding: 10px;
        border: 1px solid fuchsia;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bg {
        width: inherit;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }
}