.c-pkmn {
    
    border: 1px solid black;

    & > * {
        border: 1px solid red;
    }

    &__uid {
        &:first-child {
        }
        &:last-child {
        }
    }
    
    &__img {
        border-radius:  50%;
        overflow: hidden;
        background-color: whitesmoke;
        width: 150px;
        padding: 10px;
        
        img {
            
        }
    }

    &__WnH {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    span {

    }

    &__abilities {
        display: inline-flex;
    }

    &__stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        text-transform: capitalize;

        span {
            display: inline-flex;
            justify-content: space-between;
        }

        .bar {
            background-color: #20201F;
            border-radius: 2rem;
            padding: 0.3rem;
        }
            
        .bar>div {
            background-color: #F7901E;
            height: 0.4rem;
            border-radius: 1rem;
        }
    }

    &__types {
        display: inline-flex;
    }

    &__indices {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.indices-drop {

}

.indices-drop__label {
    //x
}  

.indices-drop__ctn {
    max-height: 0;
    overflow: hidden;
}

.indices-drop__items {

}

.indices-drop__ctn-open {
    max-height: 1000px;

    transition: 
        max-height 1500ms ease-in,
        opacity 300ms ease 200ms;
}

.indices-drop__ctn-closed {
    opacity: 0;

    transition: 
        max-height 1500ms ease-out,
        opacity 1500ms ease,
}

