.c-loader {
    padding: 10px;
    width: 150px;
    background-color: rgba(62, 62, 62, 0.9);
    border-radius: 4px;

    color: fuchsia;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__load, &__txt {
        margin: 6px 0;
    }
}
.c-loader__load {
    width: 60px;
    // height: 60px;
    // border-radius: 50%;
    // border: 8px solid #f3f3f3;
    // border-top: 8px solid blue;
    // border-bottom: 8px solid blue;

    -webkit-animation: spin 1600ms linear infinite;
    animation: spin 1600ms linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  