.c-form {
    padding: 10px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 8px;

    &__all_options,
    &__select,
    &__search_bar {
        margin: 8px 0;
    }

    &__all_options {
        display: inherit;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__select {
    }

    &__search_bar {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}

.c-form__all_options {

}

.c-form__select {
    overflow: hidden;

    width: 200px;
    height: 30px;

    border-radius: 4px;

    border: 1px solid fuchsia;
}

.c-form__search_bar {
    // align-self: center;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;

    // width: 68%;
    
    input {
        border: none;
        // outline: none;
        padding: 5px 0;

        
        &:first-child {
            padding: 0px 8px;
            background-color: transparent;

        }
        &:last-child {
            // width: 100%;
            // height: 100%;
            color: white;
            background-color: $color-secondary;
        }
        
        &:last-child:hover {
            cursor: pointer;
        }
    }
}
