.o-view {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    &__txt {
        text-align: center;
        span {
            text-transform: capitalize;
        }
    }
}
.o-view-home, .o-view-info {
}
.o-view-home {
    align-items: center;
}

.o-view-info {
    // align-items: center;
}