.o-view {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    &__header {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

}

.header {
    &-headline {
        text-align: center;
        p {
            text-transform: capitalize;
        }
    }

    &-back {
        position: absolute;
        left: 0;
    }
}

.o-view-home, .o-view-info {
}
.o-view-home {
    align-items: center;
}

.o-view-info {
    // align-items: center;
}