///* ========================================================================
//   #Colors
//   ======================================================================== */

// Set up a colour palette which allows us to theme the entire project from one
// location.

//Pkmn types

$bug: #a8b820;
$dark: #705848;
$dragon: #7038f8;
$electric: #f8d030;
$fairy: #ee99ac;
$fighting: #c03028;
$fire: #f08030;
$flying: #a890f0;
$ghost: #705898;
$grass: #78c850;
$ground: #e0c068;
$ice: #98d8d8;
$normal: #a8a878;
$poison: #a040a0;
$psychic: #f85888;
$rock: #b8a038;
$steel: #b8b8d0;
$water: #6890f0;

// Colour palette.
$color-primary:               #378bb5 !default;
$color-primary-highlight:     lighten($color-primary, 5%) !default;
$color-primary-shadow:        darken($color-primary,  5%) !default;

$color-secondary:             #abc123 !default;
$color-secondary-highlight:   lighten($color-secondary, 5%) !default;
$color-secondary-shadow:      darken($color-secondary,  5%) !default;

$color-ui:                          #e4e4e4 !default;

$color-grey:                        #666 !default;
$color-grey-dark:                   #333 !default;
$color-grey-light:                  #999 !default;
$color-white:                       #fff !default;



// Reassign literal variables to meaningful ones.
$color-page-text:                       $color-grey-dark;
$color-page-background:                 #f3f3f3;

$color-logo:                            $color-primary;

$color-links:                           inherit;
$color-links-prose:                     $color-primary;
$color-links-prose-hover:               $color-primary-shadow;

$color-page-head:                       #fff;
$color-page-head-background:            $color-primary;

$color-masthead-background:             $color-primary;

$color-btn:                             #fff;
$color-btn-background:                  $color-primary;
$color-btn-background-hover:            $color-primary-shadow;
$color-btn-secondary:                   #fff;
$color-btn-secondary-background:        $color-secondary;
$color-btn-secondary-background-hover:  $color-secondary-shadow;

$color-page-foot:                       #fff;
$color-page-foot-background:            $color-grey-dark;;

$color-headline:                        $color-grey-light;

$color-sub-content-bg:                  rgba(0, 0, 0, 0.05);
$color-sub-content:                     $color-grey;
