.option_container {
    display: flex;
    flex-direction: column;

    // position: relative;

    .label_c {
        display: inline-block;
        // width: ;
        // height: ;
        // margin: 20px 1% 20px 0;
        vertical-align: top;
        text-align: center; 
        
        label {
            border: 1px solid rgba(#ffb2b2,.15);
        	// display: block;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

        	height: 100%;
        	width: 100%;
        	padding: 10px 10px;
        	cursor: pointer;
        	opacity: .6;
        	transition: all .5s ease-in-out;
        	&:hover, &:focus, &:active {
                opacity: 1;
        		border: 1px solid rgba(#ffb2b2,.5);
        	}
            
            span {
                &:nth-child(1) {
                    font-size: 22px;
                }
                &:nth-child(2) {
                    font-size: 12px;
                }
            }
        }

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            
            &:checked ~ label {
              opacity: 1;
              border: 1px solid #ffb2b2;
            }
        }
    }

    select {
        // position: absolute;
        z-index: 2;

        border: 1px solid red;

        // top: calc(100% - 100px);;
        // left: calc(100% - 818px);

        option {

        }
    }
}
// berry_container
// contest_container
// encounter_container
// evolutions_container
// games_container
// item_container
// location_container
// machine_container
// move_container
// pokemon_container
// berry_container
// contest_container
// encounter_container
// evolutions_container
// games_container
// item_container
// location_container
// machine_container
// move_container
// pokemon_container